@font-face {
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400; /* 400 is 'normal' */
    src: url('/fonts/IBMPlexSansCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/IBMPlexSansCondensed-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/IBMPlexSansCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 700; /* 700 is 'bold' */
    src: url('/fonts/IBMPlexSansCondensed-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Inika-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Inika-Bold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;